__pycache__/
*.py[cod]
*$py.class

.DS_Store
.Python
.coverage
.coverage.*
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.hypothesis/

build/
dist/
site/
htmlcov/
*.egg-info/

.venv/
venv/
env/
ENV/

.streamlit/secrets.toml
tempCodeRunnerFile.py
